<h1>{{ title }}</h1>
<ul>
  <li>
    <a routerLink='' routerLinkActive='active-nav'>Home</a>
  </li>
  <li>
    <a routerLink='contact' routerLinkActive='active-nav'>Contact Us</a>
  </li>
  <li>
    <a routerLink='about' routerLinkActive='active-nav'>About me</a>
  </li>
</ul>
<hr />
<router-outlet></router-outlet>
